<div class="modal" id="chartModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <canvas id="MyyntiChart"></canvas>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal"><img src="~/Content/Icons/x-square.svg" /></button>
            </div>
        </div>
    </div>
</div>
