@{
    ViewBag.Title = "Etusivu";
}

<div class="jumbotron">
    <h1>TilausDB app</h1>
    <hr class="my-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link btn btn-primary active" data-toggle="tab" href="#about">Meistä</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary" data-toggle="tab" href="#contact">Yhteystiedot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary" data-toggle="tab" href="#map">Kartta</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="about">
            <div class="row">
                <div class="col-lg-8">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                </div>
                <div class="col-lg-3">
                    <img src="https://i.imgur.com/p81gKGU.png" alt="TilausDB-logo" />
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact">
            <div class="row">
                <div class="col-lg-6">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
                </div>
                <div class="col-lg-6">
                    <address>
                        One Microsoft Way<br />
                        Redmond, WA 98052-6399<br />
                        <abbr title="Phone">P:</abbr>
                        425.555.0100
                    </address>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                    </address>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="map">
            <p>Saapumisohje.</p>
            <iframe src=@ViewBag.Uri width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>