{% extends 'snippets/base.html' %}
{% block content %}
<div class="card">
    <h3 class="card-header">Koodipätkän poisto</h3>
    <form method="POST" id="delete-post-form" class="card-body mx-5">
        {% csrf_token %}
        <h2 class="card-title text-danger">Oletko varma, että haluat poistaa "{{ object.title }}" koodipätkän?</h2>
    </form>
    <div class="card-footer ps-5">
        <button type="submit" form="delete-post-form" class="btn btn-outline-danger mx-3">Poista</button>
        <a href="{% url 'snippet-detail' object.id %}" class="btn btn-outline-secondary">Peruuta</a>
    </div>
</div>
{% endblock content %}