<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false"><i class="fas fa-industry" style="color:white;"></i> Sovellus</a>
    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 42px, 0px); top: 0px; left: 0px; will-change: transform;">
        <a class="dropdown-item" href="/Asiakkaat/Index"><img src="~/Content/Icons/building.svg"/> Asiakkaat</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Henkilot/Index"><i class="fas fa-address-card"></i> Henkilöt</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Postitoimipaikat/Index"><i class="fas fa-mail-bulk"></i> Postitoimipaikat</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Tilaukset/Index"><img src="~/Content/Icons/box-seam.svg"/> Tilaukset</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Tuotteet/Index"><img src="~/Content/Icons/collection.svg"/> Tuotteet</a>
    </div>
</li>