:root {
    --shadow: 0 0 1em hsl(0 100% 0%); 
    --shadow-inset: inset 0 0 .75em hsl(0 100% 0%); 
}

main,
header { box-shadow: var(--shadow); }

main { padding: 1rem 0; }

#btn-to-top {
    position: fixed;
    bottom: 0;
    right: 10px;
    border-radius: 50%;
    border: none;
    height: 3rem;
    width: 3rem;
    box-shadow: var(--shadow);
    visibility: hidden;
}

#btn-to-top:hover {
    box-shadow: var(--shadow), var(--shadow-inset);
}

.card-code {
    max-height: 20rem;
    overflow: auto;
}

.card-footer a,
.card-header a { text-decoration: none; }

.list-card { cursor: pointer; }

.list-card:hover { border-color: #444; }

.copy-code { cursor: pointer; }

.copy-code,
.footer-text,
.footer-btn {
    transition: background 150ms, color 150ms;
    border-radius: 5px;
}

.copy-code:hover,
.footer-text:hover,
.footer-btn:hover {
    color: #eee !important;
    background-color: #999;
}

.copy-code-animated {
    animation-name: wiggle;
    animation-duration: 750ms;
    animation-iteration-count: 1;
}

.hidden-element { display: none; }

.errorlist { color: red; }

.list-group-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.deleted-comment {
    padding-top: 0;
    padding-bottom: 0;
}

.deleted-comment pre {
    font-style: italic;
}

.highlight pre {
    margin-bottom: 0;
}

.iframe-container {
    padding-bottom: 13px !important;
}

.btn-copied { position: relative; }

.btn-copied::after {
    content: 'Kopioitu!';
    position: absolute;
    right: 0;
    top: -1.45em;
    transform: translateX(100%);
    padding: 0 .25em calc(.25em * 1.1 ) .5em;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
    clip-path: polygon(100% 0, 100% 90%, 15% 90%, 0% 100%, 5% 70%, 5% 0);
}

@keyframes wiggle {
    0% {
        transform: rotate(10deg) scale(1.1);
    }
    25% {
        transform: rotate(-10deg) scale(1.2);
    }
    50% {
        transform: rotate(20deg) scale(1.3);
    }
    75% {
        transform: rotate(-50deg) scale(1.1);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

@media (max-width: 575px) {
    .card-footer {
        flex-direction: column;
    }
    .comment-section {
        overflow-x: scroll;
    }
}

@media (min-width: 992px) {
    .container { max-width: 960px; }
}

@media (min-width: 1200px) {
    .container { max-width: 960px; }
    #btn-to-top {
        /* middle of page - half of .container - (button width + button margin-bottom) */
        right: calc(50% - 480px - 3.5rem);
    }
}